<!--CATEGORY VIEW-->
<!--complete logic for category view-->
<% if (title == 'Create Category') { %>
    <div class="col-sm-12">   
      <h2 class="display-4 mb-5">Create a New Category</h2>
        <div class="">
            <!--error notice-->
            <% if(typeof notice != 'undefined') { %>
                <div class="alert alert-danger alert-dismissible w-75 mx-auto">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                <% notice.forEach((error) => { %>
                        <strong><%= error.msg %></strong> <br> 
                <% }) %>
                </div>
                <% } 
              %>
            <form action="" method="post" class="w-50  mx-auto">
              <input class="iw" type="text" name="name" placeholder="Category Name" value="<%= locals.name ?  name : "" %>">
              <input class="ib" type="submit" value="Create Category">
            </form>
        </div>
    </div>
<% } else if (title == 'Update Category') { %>
    <div class="col-sm-12"> 
      <h2 class="display-4 mb-5">Update <%= category.name %> Category</h2>
        <div class="">
            <form action="/category/<%= category.id %>/update" method="post" class="w-50  mx-auto">
              <input class="iw" type="text" name="name" value="<%= category.name %>" placeholder="category name">
              <input class="ib" type="submit" value="Update Category">
            </form>
        </div>
    </div>
<% } else if (title == 'Category Details') { %>
    <div class="col-sm-12">    
        <div class="mb-5 ">
             <h1> Details of <strong><%= category.name %></strong>  Category  </h1>
             <p>Categoy ID : <strong><%= category.id %></strong></p>
             <p>Category Name: <strong><%= category.name %></strong></p>
             <a href="/category/<%= category.id %>/update" class="badge badge-success">Edit  Category</a>  <a href="/category/<%= category.id %>/delete" class="badge badge-danger">Delete Category</a>
        </div>
        
        <% if(category.Expenses.length == 0) { %>
            <div class="alert alert-info mt-5 w-50">
                <strong>Info:</strong> You don't have any expense under this category yet.
            </div>
        <% } else { %>
            <h2 class="fwb">All Expenses in this Category</h2>
            <div class="">
                <ol>
                <% category.Expenses.forEach(function(expense) { %>
                        <div class="row">
                            <li class="col-9">
                                <h4><%= expense.details %></h4>
                                <p>Amount - &#8358;<%= expense.amount %></p>
                                <p>Status - <%= expense.status %></p>
                            </li>
                            <div class="col-3 mr-auto">
                             <a href="/category/<%= category.id %>/update" class="badge badge-success">Edit</a>
                             <a href="/category/<%= category.id %>/delete" class="badge badge-danger">Delete</a>
                            </div>
                        </div>
                    <br/>
                <% }); %>
                </ol>
            </div>    
         <% } %>  
         <a href="/category/create" class="btn btn-primary pill">Add a new Category </a>
    </div>
<% } else if (title == 'Category List') { %>
    <div class="col-sm-12"> 
      <h2 class="display-4 mb-5">List of All Categories</h2>
        <div class="">
        <ol>
        <% categories.forEach(function(category) { %>
                <div class="row">
                    <li class="col-9">
                        <h4><a href="/category/<%= category.id %>"><%= category.name %></a></h4>
                    </li>
                    <div class="col-3 mr-auto">
                     <a href="/category/<%= category.id %>/update" class="badge badge-success">Edit</a>
                     <a href="/category/<%= category.id %>/delete" class="badge badge-danger">Delete</a>
                    </div>
                </div>
            <br/>
        <% }); %>
        </ol>
    </div>
    <a href="/category/create" class="btn btn-primary pill">Add a new Category </a>
    </div>
<% } else { %>

<% } %>