<!--EMPLOYEE VIEW -->
<!--complete logic for employee view-->
<% if (title == 'Create Employee') { %>
    <div class="col-sm-12">  
        <h2 class="display-4 mb-5">Add a New Employee</h2>
        <div class="">
            <!--error notice-->
            <% if(typeof notice != 'undefined') { %>
                <div class="alert alert-danger alert-dismissible w-75 mx-auto">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                <% notice.forEach((error) => { %>
                        <strong><%= error.msg %></strong> <br> 
                <% }) %>
                </div>
            <% } %>
            <form action="" method="post"  class="w-50  mx-auto">
              <input class="iw" type="text" name="first_name" placeholder="First Name" autofocus>
              <input class="iw" type="text" name="last_name" placeholder="Last Name">
              <input class="iw" type="text" name="username" placeholder="username">
              <input class="iw" type="email" name="email" placeholder="email">
              <input class="iw" type="password" name="password" placeholder="password">
              <input class="iw" type="number" name="mobile" placeholder="phone number">
              <input class="iw" type="text" name="role" placeholder="role e.g manager">
              <label for="department"><strong class="">Department</strong></label>
                <select class="iw" name = "department_id" class="form-control">
                    <% departments.forEach((department) => { %>
                    <option class="iw" value="<%= department.id %>"><%= department.name %></option>
                    <br/>
                    <% }); %>
                </select>
              <br><br>
              <input class="ib" type="submit" value="Create Employee">
            </form>
        </div>
    </div>
<% }else if (title == 'Update Employee') { %>
    <div class="col-sm-12"> 
        <h2 class="display-4 mb-5">Update <%= employee.username %> Details</h2>
        <div class="">
            <!--error notice-->
            <% if(typeof notice != 'undefined') { %>
                <div class="alert alert-danger alert-dismissible w-75 mx-auto">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                <% notice.forEach((error) => { %>
                        <strong><%= error.msg %></strong> <br> 
                <% }) %>
                </div>
            <% } %>
            <form action="/employee/<%= employee.id %>/update" method="post" class="w-50  mx-auto">
                <input class="iw" type="text" name="username" value="<%= employee.username %>" placeholder="username" autofocus>
                <input class="iw" type="text" name="role" value="<%= employee.role %>" placeholder="role">
                <input class="iw" type="text" name="mobile" value="0<%= employee.mobile %>" placeholder="phone number">
                <input type="submit" class="ib" value="Update employee">
            </form>
        </div>
    </div>
<% } else if (title == 'Employee Details') { %>
    <div class="col-sm-12">    
        <div class="">
             <h1><%= employee.first_name %> <%= employee.last_name %> Details </h1>
             <p>ID : <strong><%= employee.id %></strong></p>
             <p>First Name: <strong><%= employee.first_name %></strong></p>
             <p>Last Name:  <strong><%= employee.last_name %></strong></p>
             <p>Username:  <strong><%= employee.username %></strong></p>
             <p> <span class="text-capitalize"> <strong><%= employee.role %></strong></span> in the <strong><%= employee.Department.name %></strong> department. Contact <strong><%= employee.username %></strong> via email <strong><%= employee.email %></strong> or mobile - <strong>0<%= employee.mobile %></strong></p>
             <a href="/employee/<%= employee.id %>/update" class=" badge badge-success">Edit Employee</a>  <a href="/employee/<%= employee.id %>/delete" class="badge badge-danger">Delete Employee</a>
        
        <% if(employee.Expenses.length == 0) { %>
            <div class="alert alert-info mt-5 w-50">
                <strong>Info:</strong> You don't have any expense yet, <a href="/employee/<%= employee.id %>/expense/create" class="alert-link">add one here</a>.
              </div>
        <% } else { %>
            <h4 class="mt-5 fwb">Expenses for this Employee are listed below</h4>
            <div class="">
                <% if((employee.role.toLowerCase()) == 'manager'){ %> 
                    <ol>
                        <% employee.Expenses.forEach(function(expense) { %>
                            <div class="row">
                                <li class="col-9">
                                    <a href="/employee/<%= employee.id %>/expense/<%= expense.id %>"><%= expense.details %></a></h4>
                                </li>
                                <div class="col-3 mr-auto">
                                    <a href="/employee/<%= employee.id %>/expense/<%= expense.id %>/update" class="badge badge-success">Edit</a>  
                                    <a href="/employee/:employee_id/expense/<%= expense.id %>/delete" class="badge badge-danger">Delete</a>
                                    <a href="/expense/<%= expense.id %>/review" class="badge badge-secondary">Review</a>
                                </div>
                            </div>
                            <br/>
                        <% }); %>
                        </ol>
                    <% } else { %> 
                        <ol>
                            <% employee.Expenses.forEach(function(expense) { %>
                                    
                                    <div class="row">
                                        <li class="col-9">
                                            <a href="/employee/:employee_id/expense/<%= expense.id %>"><%= expense.details %></a></h4>
                                        </li>
                                        <div class="col-3 mr-auto">
                                            <a href="/employee/<%= employee.id %>/expense/<%= expense.id %>/update" class="badge badge-success">Edit</a>  
                                            <a href="/employee/<%= employee.id %>/expense/<%= expense.id %>/delete" class="badge badge-danger">Delete</a>
                                        </div>
                                    </div>
                                <br/>
                            <% }); %>
                            </ol>     
                        <% }
                    %>
                <a href="/employee/<%= employee.id %>/expense/create" class="btn btn-primary pill">Add another Expense </a>
            </div>    
         <% } %>   
        </div>
            
        
        
    </div>
<% } else if (title == 'Employee List') { %>
    <div class="col-sm-12">  
        <h2 class="display-4 mb-5">List of All Employees</h2>
        <div class="">
            <ol>
            <% employees.forEach(function(employee) { %>
                <div class="row">
                    <li class="col-10">
                        <h4 class="text-capitalize"><a href="/employee/<%= employee.id %>"><%= employee.first_name %> <%= employee.last_name %></a></h4>
                    </li>
                    <div class="col-2 mr-auto">
                        <a href="/employee/<%= employee.id %>/update" class="badge badge-success ">Edit</a>  <a href="/employee/<%= employee.id %>/delete" class="badge badge-danger ">Delete</a>
                    </div>
                </div>
                <br/>
            <% }); %>
            </ol>
        </div>
        <a href="/employee/create" class="btn btn-primary pill">Add Your Employee Record </a>
    </div>
<% } else { %>

<% } %>
