<!--EMPLOYEE VIEW -->
<!--complete logic for employee view-->
<% if (title == 'Create Employee') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Author First Name:<br>
              <input type="text" name="first_name" placeholder="Author First Name">
              <br><br>
              Author Last Name:<br>
              <input type="text" name="last_name" placeholder="Author Last Name">
              <br><br>
              Username:<br>
              <input type="text" name="username" placeholder="hello@manifest.com">
              <br><br>
               Author Email Address:<br>
              <input type="email" name="email" placeholder="hello@manifest.com">
              <br><br>
              Author Password:<br>
              <input type="password" name="password" placeholder="hello@manifest.com">
              <br><br>
              Mobile:<br>
              <input type="number" name="mobile" placeholder="08012345678">
              <br><br>
              Author Role:<br>
              <input type="text" name="role" value="hello@manifest.com">
              <br><br>
              Department:<br>
                <select name = "department_id" class="form-control">
                    <% departments.forEach((department) => { %>
                    <option  value="<%= department.id %>"><%= department.name %></option>
                    <br/>
                    <% }); %>
                </select>
              <br><br>
              <input type="submit" value="Create Employee">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Author') { %>
     
<% } else if (title == 'Update Employee') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/employee/<%= employee.id %>/update" method="post">
               USERNAME:<br>
              <input type="text" name="username" value="<%= employee.username %>">
              <br><br>
              ROLE:<br>
              <input type="text" name="role" value="<%= employee.role %>">
              <br><br>
               MOBILE:<br>
              <input type="number" name="mobile" value="<%= employee.mobile %>">
              <br><br>
              <input type="submit" value="Update employee">
            </form>
        </div>
    </div>
<% } else if (title == 'Employee Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1><%= employee.first_name %> <%= employee.last_name %> Details </h1>
             <p>ID : <%= employee.id %></p>
             <p>First Name: <%= employee.first_name %></p>
             <p>Last Name:  <%= employee.last_name %></p>
             <p>Username:  <%= employee.username %></p>
             <p> <span class="text-capitalize"> <%= employee.role %></span> in the <%= employee.Department.name %> department. Contact <%= employee.username %> via email <%= employee.email %> or mobile - 0<%= employee.mobile %></p>
             <a href="/employee/<%= employee.id %>/update">Edit  employee</a> | <a href="/employee/<%= employee.id %>/delete">Delete employee</a>
        
        <% if(employee.Expenses.length == 0) { %>
            <h2>You haven't added any expenditure yet </h2>
        <% } else { %>
            <h2>All Expenses by this Author</h2>
            <div class="">
                <ol>
                <% employee.Expenses.forEach(function(expense) { %>
                        <li>
                            <p> 
                                <a href="/employee/:employee_id/expense/<%= expense.id %>"><%= expense.details %></a>
                                 
                                <br/> <a href="/expense/<%= expense.id %>/update">Edit  Post</a> | <a href="/employee/:employee_id/expense/<%= expense.id %>/delete">Delete Post</a>
                            </p>
                        </li>
                    <br/>
                <% }); %>
                </ol>
            </div>    
         <% } %>   
        </div>
        
        <h2>Add a new Expense </h2>
        <!--DISPLAY CREATE FORM IN AUTHOR-->
        <a href="/employee/<%= employee.id %>/expense/create">Create Expense</a>
            
        
        
    </div>
<% } else if (title == 'Employee List') { %>
    <div class="col-sm-8">    
        <div class="">
        <ol>
        <% employees.forEach(function(employee) { %>
                <li>
                    <h4 class="text-capitalize"><a href="/employee/<%= employee.id %>"><%= employee.first_name %> <%= employee.last_name %></a></h4>
                     <a href="/employee/<%= employee.id %>/update">Edit  Employee</a> | <a href="/employee/<%= employee.id %>/delete">Delete Employee</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>
<% } else { %>

<% } %>
<!--AUTHOR VIEW END HERE-->
<script>
    function checkCat() {
    var checkBoxes = document.getElementsByClassName( 'categoryCheckbox' );
    var isChecked = false;
    for (var i = 0; i < checkBoxes.length; i++) {
        if ( checkBoxes[i].checked ) {
            isChecked = true;
        };
    };
    if ( isChecked ) {
        
        } else {
            alert( 'Please, check at least one checkbox!' );
        }   
}
</script>