<!--EXPENSE VIEW -->
<!--complete logic for expensee view-->
<% if (title == 'Create Expense') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Details:<br>
              <input type="text" name="details" placeholder="for fuel">
              <br><br>
               Amount:<br>
              <input type="number" name="amount" placeholder="for fuel">
              <br><br>
              Employee:<br>
              <select name = "employee_id" class="form-control">
                <option class="text-capitalize"  value="<%= employee.id %>"><%= employee.first_name %> <%= employee.last_name %></option>
                <br/>
              </select>
              
              <br><br>
              TypeId:<br>
              <select name = "type_id" class="form-control">
                <% types.forEach((type) => { %>
                <option  value="<%= type.id %>"><%= type.name %></option>
                <br/>
                <% }); %>
              </select>
              <br><br>
              CategoryId:<br>
              <select name = "category_id" class="form-control">
                <% categories.forEach((category) => { %>
                <option  value="<%= category.id %>"><%= category.name %></option>
                <br/>
                <% }); %>
              </select>
              <br><br>
              <input type="submit" value="Create Expense">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Expense') { %>
     
<% } else if (title == 'Update Expense') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/expense/<%= expense.id %>/update" method="post">
               Details:<br>
              <input type="text" name="details" value="<%= expense.details %>">
              <br><br>
              Amount:<br>
              <input type="text" name="amount" value="<%= expense.amount %>">
              <br><br>
              TypeId:<br>
              <select name = "type_id" class="form-control">
                <% types.forEach((type) => { %>
                <option  value="<%= type.id %>"><%= type.name %></option>
                <br/>
                <% }); %>
              </select>
              <br><br>
              CategoryId:<br>
              <select name = "category_id" class="form-control">
                <% categories.forEach((category) => { %>
                <option  value="<%= category.id %>"><%= category.name %></option>
                <br/>
                <% }); %>
              </select>
              <br><br>
              <input type="submit" value="Update Author">
            </form>
        </div>
    </div>
<% } else if (title == 'Expense Details') { %>
    <div class="col-sm-12">    
        <div class="">
             <h1>Details of <%= expense.details %> expense applied for by <%= expense.Employee.first_name %> <%= expense.Employee.last_name %> </h1>
             <p>Date  - <%= moment(expense.createdAt).format('DD MMM YYYY') %></p>
             <p>Time  - <%= moment(expense.time).format('hh:mm A') %></p>
             <p>Amount  - &#8358;<%= expense.amount %></p>
             <p>Status - <%= expense.status %></p>
             <p><%= expense.Employee.first_name%>'s Role - <span class="text-uppercase"><%= expense.Employee.role %></span> </p>
             <p>Type - <%= expense.Type.name %></p>
             <p>Category - <%= expense.Category.name %></p>
        </div>    
    </div>
<% } else if (title == 'Expense List') { %>
    <div class="col-sm-8">    
        <div class="">
        <ol>
        <% expenses.forEach(function(expense) { %>
                <li>
                    <h4><a href="/employee/<%= expense.Employee.id %>/expense/<%= expense.id %>"><%= expense.details %></a></h4>
                    <p><strong>Status</strong> - <%= expense.status %></p>
                     <a href="/expense/<%= expense.id %>/update">Edit  Author</a> | <a href="/employee/<%= expense.Employee.id %>/expense/<%= expense.id %>/delete">Delete Expense</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    
    </div>
<% } else { %>

<% } %>
<!--AUTHOR VIEW END HERE-->
<script>
    function checkCat() {
    var checkBoxes = document.getElementsByClassName( 'categoryCheckbox' );
    var isChecked = false;
    for (var i = 0; i < checkBoxes.length; i++) {
        if ( checkBoxes[i].checked ) {
            isChecked = true;
        };
    };
    if ( isChecked ) {
        
        } else {
            alert( 'Please, check at least one checkbox!' );
        }   
}
</script>