<!--Type VIEW-->
<!--complete logic for type view-->
<% if (title == 'Create Type') { %>
    <div class="col-sm-12">   
        <h2 class="display-4 mb-5">Add A New Expense Type</h2> 
        <div class="">
            <!--error notice-->
            <% if(typeof notice != 'undefined') { %>
                <div class="alert alert-danger alert-dismissible w-75 mx-auto">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                <% notice.forEach((error) => { %>
                        <strong><%= error.msg %></strong> <br> 
                <% }) %>
                </div>
                <% } 
              %>
            <form action="" method="post" class="w-50  mx-auto">
              <input class="iw" type="text" name="name" placeholder="Type Name">
              <input class="ib" type="submit" value="Create Type">
            </form>
        </div>
    </div>
<% } else if (title == 'Update Type') { %>
    <div class="col-sm-12">  
      <h2 class="display-4 mb-5">Update <%= type.name %> Category</h2>
        <div class="">
            <form action="/type/<%= type.id %>/update" method="post" class="w-50  mx-auto">
              <input class="iw" type="text" name="name" value="<%= type.name %>" placeholder="type of expense">
              <input class="ib" type="submit" value="Update Type">
            </form>
        </div>
    </div>
<% } else if (title == 'Type Details') { %>
    <div class="col-sm-12">    
        <div class="mb-5">
            <h1>Details of <%= type.name %> Type of Expenses</h1>
            <p>Type ID : <strong><%= type.id %></strong></p>
            <p>Type Name: <strong><%= type.name %></strong></p>
            <a href="/type/<%= type.id %>/update" class="badge badge-success">Edit  type</a> 
            <a href="/type/<%= type.id %>/delete" class="badge badge-danger">Delete type</a>
       </div>
       
       <% if(type.Expenses.length == 0) { %>
           <div class="alert alert-info mt-5 w-50">
            <strong>Info:</strong> You don't have any expense type created yet, <a href="/type/create" class="alert-link">add one here</a>.
        </div>
       <% } else { %>
           <h2 class="text-capitalize fwb">All <%= type.name %> Expenses</h2>
           <div class="">
               <ol>
               <% type.Expenses.forEach(function(expense) { %>
                       <div class="row">
                        <li class="col-9">
                            <h4><%= expense.details %></h4>
                            <p>Amount - &#8358;<%= expense.amount %></p>
                            <p>Status - <%= expense.status %></p>
                        </li>
                        <div class="col-3 mr-auto">
                         <a href="/type/<%= type.id %>/update" class="badge badge-success">Edit</a>
                         <a href="/type/<%= type.id %>/delete" class="badge badge-danger">Delete</a>
                        </div>
                    </div>
                   <br/>
               <% }); %>
               </ol>
           </div>    
        <% } %>
    </div>
<% } else if (title == 'Type List') { %>
    <div class="col-sm-12">   
      <h2 class="display-4 mb-5">List of All Expense Type</h2>
        <div class="">
        <ol>
        <% types.forEach(function(type) { %>
                <div class="row">
                    <li class="col-10">
                        <h4><a href="/type/<%= type.id %>"><%= type.name %> Expenses</a></a></h4>
                    </li>
                    <div class="col-2 mr-auto">
                     <a href="/type/<%= type.id %>/update" class="badge badge-success">Edit</a>
                     <a href="/type/<%= type.id %>/delete" class="badge badge-danger">Delete</a>
                    </div>
                </div>
            <br/>
        <% }); %>
        </ol>
    </div>
    <a href="/type/create" class="btn btn-primary pill">Add a new type of expense </a>
    </div>
<% } else { %>

<% } %>
<!--type VIEW END HERE-->