<!--Cype VIEW-->
<!--complete logic for cype view-->
<% if (title == 'Create Type') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Type Name:<br>
              <input type="text" name="name" value="Type Name">
              <br><br>
              <input type="submit" value="Create Type">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Cype') { %>
     
<% } else if (title == 'Update Cype') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/blog/cype/<%= cype.id %>/update" method="post">
               Cype Name:<br>
              <input type="text" name="name" value="<%= cype.name %>">
              <br><br>
              <input type="submit" value="Update Cype">
            </form>
        </div>
    </div>
<% } else if (title == 'Cype Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single cype - <%= cype.name %></h1>
             <p>I am an cype for this ID = <%= cype.id %></p>
             <p>Cype Name: <%= cype.name %></p>
             <a href="/blog/cype/<%= cype.id %>/update">Edit  Cype</a> | <a href="/blog/cype/<%= cype.id %>/delete">Delete Cype</a>
        </div>
        
        <% if(cype.posts.length == 0) { %>
            <h2>There are no posts under this cype yet </h2>
        <% } else { %>
            <h2>All Posts in this Cype</h2>
            <div class="">
                <ol>
                <% cype.posts.forEach(function(post) { %>
                        <li>
                            <p><%= post.post_title %>
                               <%= post.post_body %>
                                <br/><a href="/blog/post/<%= post.id %>/update">Edit  Post</a> | <a href="/blog/post/<%= post.id %>/delete">Delete Post</a>
                            </p>
                        </li>
                    <br/>
                <% }); %>
                </ol>
            </div>    
         <% } %>  
    </div>
<% } else if (title == 'Cype List') { %>
    <div class="col-sm-8">    
        <div class="">
        <ol>
        <% categories.forEach(function(cype) { %>
                <li>
                    <h4><a href="/blog/cype/<%= cype.id %>"><%= cype.name %></a></h4>
                    <p>The main body of the cype <%= cype.name %></p>
                     <a href="/blog/cype/<%= cype.id %>/update">Edit  Cype</a> | <a href="/blog/cype/<%= cype.id %>/delete">Delete Cype</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
        <a href="/blog/cype/create"> CLICK HERE TO CREATE Cype</a>

    </div>
<% } else { %>

<% } %>
<!--Cype VIEW END HERE-->