<!--Cype VIEW-->
<!--complete logic for cype view-->
<% if (title == 'Create Type') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Type Name:<br>
              <input type="text" name="name" value="Type Name">
              <br><br>
              <input type="submit" value="Create Type">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Type') { %>
     
<% } else if (title == 'Update Type') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/type/<%= type.id %>/update" method="post">
               Type Name:<br>
              <input type="text" name="name" value="<%= type.name %>">
              <br><br>
              <input type="submit" value="Update Type">
            </form>
        </div>
    </div>
<% } else if (title == 'Type Details') { %>
    <div class="col-sm-8">    
        <div class="">
            <h1>Details of <%= type.name %> Type  </h1>
            <p>I am an <%= type.name %> expense with  ID = <%= type.id %></p>
            <p>Type Name: <%= type.name %></p>
            <a href="/type/<%= type.id %>/update">Edit  type</a> | <a href="/type/<%= type.id %>/delete">Delete type</a>
       </div>
       
       <% if(type.Expenses.length == 0) { %>
           <h2>There are no expenses under this type yet </h2>
       <% } else { %>
           <h2>All Expenses in this type</h2>
           <div class="">
               <ol>
               <% type.Expenses.forEach(function(expense) { %>
                       <li>
                           <p><%= expense.details %><br>
                               Amount - &#8358;<%= expense.amount %><br>
                               Status - <%= expense.status %><br>
                           </p>
                       </li>
                   <br/>
               <% }); %>
               </ol>
           </div>    
        <% } %>
    </div>
<% } else if (title == 'Type List') { %>
    <div class="col-sm-8">    
        <div class="">
        <ol>
        <% types.forEach(function(type) { %>
                <li>
                    <h4 class="text-capitalize"><a href="/type/<%= type.id %>"><%= type.name %> Expenses</a></h4>
                    
                     <a href="/type/<%= type.id %>/update">Edit  Type</a> | <a href="/type/<%= type.id %>/delete">Delete   Type</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
        <a href="/blog/cype/create"> CLICK HERE TO CREATE Cype</a>

    </div>
<% } else { %>

<% } %>
<!--Cype VIEW END HERE-->