<div class="row d-flex justify-content-center flex-wrap mx-auto">
    <h1 class="col-12 display-1 fwb"><%= title %></h1>
    <div class="col-sm-12 col-md-3 neomorphism mx-4 my-3 p-2">
        <p class="text-left fwb">Total Employees in database</p>
        <p class="text-right fwb"><%= employeeCount.count %></p> 
    </div>
    <div class="col-sm-12 col-md-3 neomorphism mx-4 my-3 p-2">
        <p class="text-left fwb">Total Expenses in database</p>
        <p class="text-right fwb"><%= expenseCount.count %></p> 
    </div>
    <div class="col-sm-12 col-md-3 neomorphism mx-4 my-3 p-2">
        <p class="text-left fwb">Total Categories in database</p>
        <p class="text-right fwb"><%= categoryCount.count %></p> 
    </div>
    <div class="col-sm-12 col-md-3 neomorphism mx-4 my-3 p-2">
        <p class="text-left fwb">Total Types of Expenses in database</p>
        <p class="text-right fwb"><%= typeCount.count %></p> 
    </div>
    <!--total amount spent till date-->
    <div class="col-sm-12 col-md-3 neomorphism mx-4 my-3 p-2">
        <p class="text-left fwb">Total Amount spent till date</p>
        <% if(isNaN(amountSum)){%> 
                <p>No expense has been added yet</p>
            <%} else {%>
                <p class="text-right fwb">&#8358;<%= amountSum %></p>
            <%}
        %>      
    </div>
    <!--most recent expense added to the database-->
    <div class="col-sm-12 col-md-3 neomorphism mx-4 my-3 p-2">
        <% 
            if(latest == null) {%>
                <p>There are no Expenses added to the system yet</p>
            <%} else {%> 
        
                <p class="text-left fwb"><%= latest.Employee.first_name %> <%= latest.Employee.last_name%> just added the <a href="/employee/<%= latest.Employee.id %>/expense/<%= latest.id %>"><%= latest.details %> expense @ <%= moment(latest.time).format('hh: mm A') %>, <%= moment(latest.createdAt).format('DD MMM YYYY') %></a></p>
                <p class="text-right fwb">&#8358;<%= latest.amount %> </p> 
        <%} %>
    </div>
    <!--Expenses Based on Category-->
    <div class="col-sm-12 col-md-10  mx-4 my-3 p-2">
        <p class="display-4 fwb fs">Expenses Listed by Category</p>
        <% if(expenseCats.length == 0){%>
            <p>No expense has been added based on category yet</p>
           <%}
           else {%> 
        
        <% expenseCats.forEach(expenseCat => { %> 
            <p class="fwb text-uppercase"><%= expenseCat.name %></p>
            <%if(expenseCat.Expenses.length == 0){%> 
                <p>There are no expenses in the <%= expenseCat.name %>  category yet</p>
            <%}else{%> 
                <ol>
                <% expenseCat.Expenses.forEach(item => { %> 
                    <li><%= item.details %></li>
                <%}) %>
                </ol>
            <%}
            %>
        <% })
        %> 
        <%} %>
    </div>

     <!--Expenses Listed by Department-->
     <div class="col-sm-12 col-md-10  mx-4 my-3 p-2">
        <p class="display-4 fwb fs">Expenses Listed by Department</p>
        <% if(expenseDepts.length == 0){%>
            <p>No expense has been added under any Department yet</p>
           <%}
           else {%> 
        
        <% expenseDepts.forEach(expenseDept => { %> 
            <p class="fwb text-uppercase"><%= expenseDept.name %></p>
            <%if(expenseDept.Expenses.length == 0){%> 
                <p>No expense has been added by employees in the <%= expenseDept.name %> department yet</p>
            <%}else{%> 
                <ol>
                <% expenseDept.Expenses.forEach(item => { %> 
                    <li><%= item.details %></li>
                <%}) %>
                </ol>
            <%}
            %>
        <% })
        %> 
        <%} %>
    </div>
   
    <!--TOP 5 EXPENSES-->
    <div class="col-sm-12 col-md-10 mx-4 my-3 p-2">
        <p class="fwb display-4 fs">Top 5 expenses</p>
        <% if(topExpenses.length == 0){%> 
                <p>There are no expenses in the system to be ranked yet</p>
            <%}
            else{%> 
        <ol>
            <% topExpenses.forEach(topExpense => { %>   
                    <li> <%= topExpense.details %> - &#8358;<%= topExpense.amount %> - <%= topExpense.Employee.first_name %> <%= topExpense.Employee.last_name %></li>
                <%}) 
            %>
        </ol>
        <%} %>
    </div>

    <!--Total Expense made by each Department-->
    <div class="col-sm-12 col-md-10  mx-4 my-3 p-2">
        <p class="display-4 fwb fs">Total Amount Spent By Each Department</p>
        <% if(deptExpense.length == 0){%>
            <p>No Department has spent any amount yet</p>
           <%}
           else {%> 
                    <ol> 
                        <% deptExpense.forEach(item => { %>  
                            <% if(item.id !== null) { %> 
                                    <li><%= item.name %> - &#8358;<%= item.id %></li>
                                <%}
                            %>
                        <% })
                        %> 
                    </ol>
        
        
        <%} %>
    </div>
</div>