<div class="jumbotron">
    <h1><%= title %></h1>
    <p>Total Employees in database is <%= employeeCount.count %></p>
    <p>Total Expenses in database is <%= expenseCount.count %> </p>
    <p>Total Categories in database is <%= categoryCount.count %></p>
    <p>Total Types in database is <%= typeCount.count %></p>

</div>