<div class="row d-flex justify-content-center flex-wrap mx-auto">
    <h1 class="col-12 display-1 fwb"><%= title %></h1>
    <div class="col-sm-12 col-md-3 neomorphism mx-4 my-3 p-2">
        <p class="text-left fwb">Total Employees in database</p>
        <p class="text-right fwb"><%= employeeCount.count %></p> 
    </div>
    <div class="col-sm-12 col-md-3 neomorphism mx-4 my-3 p-2">
        <p class="text-left fwb">Total Expenses in database</p>
        <p class="text-right fwb"><%= expenseCount.count %></p> 
    </div>
    <div class="col-sm-12 col-md-3 neomorphism mx-4 my-3 p-2">
        <p class="text-left fwb">Total Categories in database</p>
        <p class="text-right fwb"><%= categoryCount.count %></p> 
    </div>
    <div class="col-sm-12 col-md-3 neomorphism mx-4 my-3 p-2">
        <p class="text-left fwb">Total Types of Expenses in database</p>
        <p class="text-right fwb"><%= typeCount.count %></p> 
    </div>
    <!--total amount spent till date-->
    <div class="col-sm-12 col-md-3 neomorphism mx-4 my-3 p-2">
        <p class="text-left fwb">Total Amount spent till date</p>
        <p class="text-right fwb">&#8358;<%= amountSum %></p> 
    </div>
    <!--most recent expense added to the database-->
    <div class="col-sm-12 col-md-3 neomorphism mx-4 my-3 p-2">
        <p class="text-left fwb"><%= latest.Employee.first_name %> <%= latest.Employee.last_name%> just added the <a href="/employee/<%= latest.Employee.id %>/expense/<%= latest.id %>"><%= latest.details %> expense @ <%= moment(latest.time).format('hh: mm A') %>, <%= moment(latest.createdAt).format('DD MMM YYYY') %></a></p>
        <p class="text-right fwb">&#8358;<%= latest.amount %> </p> 
    </div>
    <!--Expenses Based on Category-->
    <div class="col-sm-12 col-md-10  mx-4 my-3 p-2">
        <p class="display-4 fwb">Expenses Based on Category</p>
        <% expenseCats.forEach(expenseCat => { %> 
            <p class="fwb"><%= expenseCat.name %></p>
            <%if(expenseCat.Expenses.length == 0){%> 
                <p>There are no expenses under this category yet</p>
            <%}else{%> 
                <ol>
                <% expenseCat.Expenses.forEach(item => { %> 
                    <li><%= item.details %></li>
                <%}) %>
                </ol>
            <%}
            %>
        <% })
        %> 
    </div>

    <!--Expenses Based on Type-->
    <div class="col-sm-12 col-md-10  mx-4 my-3 p-2">
        <p class="display-4 fwb">Type Based Expenses</p>
        <% expenseTypes.forEach(expenseType => { %> 
            <p class="fwb"><%= expenseType.name %></p>
            <%if(expenseType.Expenses.length == 0){%> 
                <p>There are no <%= expenseType.name %> under this category yet</p>
            <%}else{%> 
                <ol>
                <% expenseType.Expenses.forEach(item => { %> 
                    <li><%= item.details %></li>
                <%}) %>
                </ol>
            <%}
            %>
        <% })
        %> 
    </div>
    <!--TOP 5 EXPENSES-->
    <div class="col-sm-12 col-md-10 mx-4 my-3 p-2">
        <p class="fwb display-4">Top 5 expenses</p>
        <ol>
            <% categoryBases.forEach(categoryBase => { %>   
                    <li> <%= categoryBase.details %> - &#8358;<%= categoryBase.amount %></li>
                <%}) 
            %>
        </ol>
    </div>
</div>